@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=Schibsted+Grotesk:ital,wght@0,400..900;1,400..900&family=VT323&display=swap');


div {
    height: 400px;
    width: 400px;
    

    border: 6px dashed rgb(24, 121, 233);
    border-radius: 50%;

    background-image: url(girl2.jpg);
    text-align:center;
    
    background-size: cover;

    padding: 10px;

    outline-width: 14px;
    outline-style: inset;
    outline-color: rgb(170, 14, 144);

    margin: auto;
    margin-top: 80px;
}

p {
    padding-top: 190px;
    font-family: "VT323", monospace;
    text-shadow: 5px 5px 5px rgb(28, 3, 87);
    font-size: 65px;
    color: rgb(83, 212, 252);
    font-weight: bolder;
}